---
const currentYear = new Date().getFullYear();
import GitHubIcon from "@/icons/social/GitHub.astro";
---

<footer
  class="w-full mx-auto container scroll-m-20 lg:max-w-4xl md:max-w-2xl py-4 px-4 mt-16"
>
  <div
    class="flex flex-col items-center justify-between space-y-4 md:flex-row md:space-y-0"
  >
    <div class="flex flex-col items-center text-center md:text-left">
      <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
        &copy; {currentYear} Camilo Oviedo.
        <a
          href="https://flowbite.com/"
          class="hover:underline"
          aria-label="Flowbite website"
          target="_blank"
        >
          Almost all Rights Reserved.
        </a>
      </span>
      <span
        class="flex items-center justify-center text-xs text-zinc-600/90 dark:text-zinc-400/90"
      >
        <a
          href="https://github.com/midudev/porfolio.dev"
          class="hover:underline"
          aria-label="GitHub repository for Portfolio.dev by Midudev"
          target="_blank"
        >
          Inspired from Portfolio.dev by Midudev
        </a>
        <GitHubIcon class="ml-1 w-4 h-4 text-zinc-800/90 dark:text-white/90" />
      </span>
    </div>
    <div class="flex space-x-4 md:space-x-6">
      <a
        href="#/about-me"
        class="text-sm text-zinc-800/90 dark:text-white/90 hover:underline"
        aria-label="About me"
      >
        About me
      </a>
      <a
        href="mailto:oviedocamilo94@gmail.com"
        class="text-sm text-zinc-800/90 dark:text-white/90 hover:underline"
        aria-label="Contact Camilo Oviedo"
      >
        Contact
      </a>
      <a
        href="https://github.com/Champetaman"
        aria-label="Visit Camilo Oviedo's github profile"
        target="_blank"
      >
        <GitHubIcon class="w-5 h-5 text-zinc-800/90 dark:text-white/90" />
      </a>
    </div>
  </div>
</footer>
