---
import { Image } from "astro:assets";
import casualImage from "@/img/casual_image.webp";

const personalImageAlt = "Camilo Oviedo";
---

<article
  class="flex flex-col items-center justify-center gap-10 text-gray-700 dark:text-gray-300 md:flex-row md:gap-16"
>
  <Image
    src={casualImage}
    alt={personalImageAlt}
    class="rounded-full w-60 h-60 md:w-80 md:h-80 object-cover"
  />

  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-last md:order-1"
  >
    <p>
      Hello! I'm Camilo Oviedo, a versatile professional with a robust
      background in <strong>Business Administration</strong> and <strong
        >Systems Engineering</strong
      >. With over <strong>six years of experience</strong>, I've developed a
      strong foundation in software design and development, significantly
      impacting the financial sector in Colombia.
    </p>
    <p>
      I thrive at the intersection of technology and business, where my
      technical skills and analytical mindset enable me to drive innovation and
      deliver impactful solutions. My <strong><em>adaptability</em></strong>
      allows me to seamlessly transition between various roles, providing insights
      and driving strategic initiatives in the IT industry.
    </p>
    <p>
      I'm passionate about <strong>learning</strong> and staying abreast of the latest
      advancements in technology and fintech. I'm particularly intrigued by the transformative
      potential of technology to drive positive change across industries. This passion
      fuels my dedication to leveraging my skills to foster innovation and drive
      growth within organizations.
    </p>
    <p>
      Outside of my professional pursuits, you can find me engaging in
      discussions about the latest <strong>tech trends</strong>, exploring the
      evolving role of <strong>AI</strong> in financial markets, and delving into
      the nuances of <strong>behavioral economics</strong>. Let's connect and
      embark on a journey to unlock new possibilities and opportunities with
      you.
    </p>
  </div>
</article>
