---
import Layout from "@/layouts/Layout.astro";

import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/icons/Social/LinkedIn.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialStack from "@/components/SocialStack.astro";
---

<Layout
  title="Design System Portfolio.dev"
  description="Component catalog of my Portfolio"
>
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>
      <Badge>Open to Work</Badge>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;SocialStack /&gt;</h1>
      <div class="flex">
        <SocialStack href="https://www.linkedin.com/in/oviedocamilo/">
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn
        </SocialStack>
      </div>
    </article>
  </SectionContainer>
</Layout>
