---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/about/AboutMe.astro";
import BriefcaseIcon from "@/icons/common/Briefcase.astro";
import CodeIcon from "@/icons/common/Code.astro";
import Experience from "@/components/experience/Experience.astro";
import Hero from "@/components/hero/Hero.astro";
import ProfileCheckIcon from "@/icons/common/ProfileCheck.astro";
import SectionContainer from "@/components/layout/SectionContainer.astro";
import Technologies from "@/components/technologies/Technologies.astro"
import Project from "@/components/projects/Project.astro";
---

<Layout
  title="Camilo Oviedo's Resume - Systems Engineer and Business Administrador with 6 years of experience"
  description="Hire Camilo Oviedo at your company to improve your technological team and engineer the future. Proven track record in designing and developing innovative software components used within complex systems, ensuring their functionality, reliability, security and efficiency."
>
  <main class="px-4">
    <SectionContainer class="py-16 pb-24">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <div class="space-y-20">
      <SectionContainer id="experience">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-7" />
          Work Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          Projects
        </h2>
        <Project />
      </SectionContainer>

      <SectionContainer id="Technologies">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          Technologies
        </h2>
        <Technologies />
      </SectionContainer>

      <SectionContainer id="about-me">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheckIcon class="size-7" />
          About me
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
