---
const personalImageAlt = "Camilo Oviedo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Camilo, I'm from Bogotá, Colombia. a passionate individual with
      a diverse background in business administration and systems engineering.
      With <strong>6 years of experience</strong>, I've honed my skills in
      software design and development, contributing to the future of the
      financial system in Colombia.
    </p>

    <p>
      My journey in the tech realm has been shaped by a relentless curiosity and
      a genuine enthusiasm for tackling complex challenges. From my early days
      as a Systems Engineering student to my current role, I've been driven by a
      desire to leverage technology to <strong>
        create meaningful solutions that enhance efficiency, drive growth, and
        empower businesses to thrive in today's digital landscape.</strong
      >
    </p>

    <p>
      Outside of my professional pursuits, you'll often find me engrossed in
      discussions about the latest developments in fintech, <strong
        >exploring the evolving role of artificial intelligence in financial
        markets</strong
      >, or delving into the nuances of behavioral economics and its
      implications for financial decision-making
    </p>

    <p>
      I'm genuinely excited about the transformative potential of technology to
      drive positive change in the world of finance, and <strong
        >I'm committed to leveraging my skills and expertise to contribute to
        the continued evolution and innovation of financial services.</strong
      > Let's connect and embark on a journey to unlock new possibilities and opportunities
      at the <em class="italic"> nexus of technology and finance.</em>
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/profile_image.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
