---
const personalImageAlt = "Camilo Oviedo";
---

<article
  class="flex flex-col items-center justify-center gap-10 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <img
    src="/casual_image.webp"
    alt={personalImageAlt}
    class="rounded-full w-60 h-60 md:w-80 md:h-80 aspect-square object-cover"
  />
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-last md:order-1"
  >
    <p>
      My name is Camilo, I'm from Bogotá, Colombia. I'm a passionate guy with a
      diverse background in <em class="italic">Business Administration</em> and <em
        class="italic">Systems Engineering</em
      >. With <strong>6 years of experience</strong>, I've honed my skills in
      software design and development, contributing to the future of the
      financial system in Colombia.
    </p>

    <p>
      Outside of my professional pursuits, you'll often find me engrossed in
      discussions about the latest developments in fintech, <strong
        >exploring the evolving role of artificial intelligence in financial
        markets</strong
      >, or delving into the nuances of behavioral economics and its
      implications for financial decision-making.
    </p>

    <p>
      I'm genuinely excited about the transformative potential of technology to
      drive positive change in the world of finance, and I'm committed to
      leveraging my skills and expertise to contribute to the continued
      evolution and innovation of<strong> financial services.</strong> Let's connect
      and embark on a journey to unlock new possibilities and opportunities at the
      <em class="italic"> nexus of technology and finance.</em>
    </p>
  </div>
</article>
