---
import ProjectsCard from "./ProjectsCard.astro";
import ProjectsData from "../../data/projects.json";

const PROJECTS = ProjectsData;
---

<div class="flex flex-row">
  {PROJECTS.map((project) => <ProjectsCard {...project} />)}
</div>
