---
import NextJSIcon from "../icons/NextJS.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import AngularIcon from "../icons/Angular.astro";

interface Props {
  title: string;
  description: string;
  link?: string;
  github?: string;
  image: string;
  altImage: string;
}

const { title, description, link, github, image, altImage } = Astro.props;
---

<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <img class="rounded-t-lg shadow-white/10" src={image} alt={altImage} />
  <div class="p-5">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
  </div>
</div>
