---
const { class: className, id } = Astro.props;
---

<section id={id} class={`${className} pb-32 w-full mx-auto lg:w-[740px]`}>
  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <slot />
  </h2>
</section>
