---
/* import LinkInLine from "@/components/common/LinkInLine.astro";
import ChevronRightIcon from "@/icons/common/ChevronRight.astro";
 */
interface Props {
  date: string;
  title: string;
  achievements: string[];
  link?: string;
}

const { date, title, achievements} = Astro.props;
---

<div
  class="relative mx-12 pb-8 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-1 md:gap-2"
>
  <div class="relative pb-2">
    <div>
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >
      <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">
        {title}
      </h3>
      <time class="block mt-1 text-sm text-gray-500 dark:text-gray-400"
        >{date}</time
      >
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-2 text-gray-700 dark:text-gray-300 text-pretty"
  >
    <ul class="list-disc pl-5 marker:text-gray-900 dark:marker:text-gray-100">
      {
        achievements.map((achievement) => (
          <li class="pl-1">{achievement}</li>
        ))
      }
    </ul>
    <!-- {link && (
      <LinkInLine href={link}>
        Learn more <ChevronRightIcon />
      </LinkInLine>
    )} -->
  </div>
</div>
